//模板添加属性

html
	head
		script(src='a.js')
		link(href="a.css",ref="stylesheet")
	body
		div
			ul
				li
					input(type="text",id="text1",value="111")
				li
					input(type="text",id="text2",value="222")
				li
					input(type="text",id="text3",value="333")

		div