// 行内元素换行会产生意外之内的空格
html
	head
		style
		script alert("abc");
		script window.onload = function(){
		var oBtn = document.getElementById('div1');	
		};
	body
		a(href="www.baidu.com") 百度
		a(href="www.googel.com") 谷歌